<div class="row">
  <!-- <div class="col-6">
      <label class="pr-2 w-auto p-2">Chart Types: </label> 
      <select class="w-25 p-1" [(ngModel)]="selectedChart">
          <option *ngFor="let item of chartTypes" [value]="item?.value">{{item?.label}} </option>
      </select>
  </div> -->
  <div class="col-6">
      <label class="pr-2 w-auto p-2">Themes: </label> 
      <select class="w-25 p-1" [(ngModel)]="selectedTheme">
          <option *ngFor="let item of themes" [value]="item?.value">{{item?.label}} </option>
      </select>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <lib-tcg-charts [chartOption]="chartsOptions.lineChart" [theme]="selectedTheme"></lib-tcg-charts>
  </div>
  <div class="col-6">
    <lib-tcg-charts [chartOption]="chartsOptions.barChart" [theme]="selectedTheme"></lib-tcg-charts>
  </div>
</div>
<div class="row pt-2">
  <div class="col-6">
    <lib-tcg-charts [chartOption]="chartsOptions.pieChart" [theme]="selectedTheme"></lib-tcg-charts>
  </div>
  <div class="col-6">
    <lib-tcg-charts [chartOption]="chartsOptions.candleChart" [theme]="selectedTheme"></lib-tcg-charts>
  </div>
</div>